[Unit]
Description=Firmware Sensors Service
After=network.target mosquitto.service firmware_sensors.service firmware_valves.service firmware_vfd.service

[Service]
User=labadm
Group=labadm
WorkingDirectory=/home/labadm/firmware
ExecStart=/usr/bin/python3 /home/labadm/firmware/state_machine/state_machine.py
Restart=always

[Install]
WantedBy=multi-user.target
